<div class="tab_container">
    <input id="tab_checkbox1" class="tab_checkbox" type="checkbox">
    <div class="tab_header">
        <label class="tab_label" for="tab_checkbox1">
            <span> 组件样式 </span>
            <a href="#" class="tab_save" id="style_comfirmBtn">保存</a>
        </label>
    </div>
    <div class="tabContainer buty-scrollbar">
        <!-- 表单内容 -->
        <div class="input_jsonedit" id="info_style_obj">
        </div>
    </div>
</div>
<!-- 组件数据编辑 -->
<div class="tab_container">
    <input id="tab_checkbox2" class="tab_checkbox" type="checkbox">
    <div class="tab_header">
        <label class="tab_label" for="tab_checkbox2">
            <span> 组件数据 </span>
            <a href="#" class="tab_save" id="data_comfirmBtn">保存</a>
        </label>
    </div>
    <div class="tabContainer buty-scrollbar">
        <!-- 表单内容 -->
        <div class="input_jsonedit" id="info_data_obj">
        </div>
    </div>
</div>
<!-- 组件接口绑定 -->
<div class="tab_container">
    <input id="tab_checkbox3" class="tab_checkbox" type="checkbox">
    <div class="tab_header">
        <label class="tab_label" for="tab_checkbox3">
            <span> 数据接口绑定 </span>
            <a href="#" class="tab_save" id="di_comfirmBtn">保存</a>
        </label>
    </div>
    <div class="tabContainer buty-scrollbar">
        <!-- 表单内容 -->
        <div class="input_jsonedit" id="info_dataInterface">
        </div>
    </div>
</div>
